.cart-product {
  display: flex;
  align-items: center;
}

.cart-title p {
  text-align: left;
}

.cart-img {
  margin-right: 20px;
}

.sub-total-container {
  width: 1165px;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.sub-total-content {
  display: flex;
  flex-direction: column;
}

.sub-total-content span {
  font-size: small;
}

/* .sub-total {
  margin-top: 50px;
} */

.remove-cart-item {
  width: 80px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart button {
  width: fit-content;
}

#cart-notification-container {
  width: 250px;
  height: 250px;
  background-color: #0333dd;
  color: white;
  position: fixed;
  right: 10px;
  z-index: 10;
  top: 105px;
  display: none;
}

#cart-notification-container span {
  font-size: small;
  font-weight: bold;
  text-align: center;
}

.cart-notification-content {
  display: flex;
  justify-content: space-evenly;
}

#cart-notification-container a {
  display: block;
  text-align: center;
}
